<section id="biography">
    <div>
        <h2>Acerca de mí</h2>
        <p>
            Soy un desarrollador Full Stack con dos años de experiencia
            especializado en el desarrollo de APIs RESTful y aplicaciones web
            modernas. Mi trayectoria en el mundo de la tecnología comenzó en
            2018 como soporte técnico, lo que me brindó una sólida base en
            sistemas y hardware. En 2019, di el salto al desarrollo web,
            iniciándome en SEO y luego profundizando en tecnologías frontend.
        </p>
        <p>
            Mi experiencia incluye un sólido dominio de JavaScript y frameworks
            como Next.js y Angular, complementado con conocimientos en Python,
            Django y Ruby on Rails. Soy competente en la implementación de
            pipelines CI/CD, prácticas DevOps y metodologías ágiles. Como
            desarrollador certificado Scrum Master, me enfoco en crear
            soluciones eficientes y escalables que optimizan el rendimiento del
            sistema y mejoran la experiencia del usuario final.
        </p>
        <p>
            Durante mi tiempo en LOGRA.IO, una prestigiosa startup en México,
            experimenté un crecimiento significativo tanto en mis habilidades
            técnicas como en mis competencias interpersonales. Profundicé mi
            dominio de JavaScript y Python, mientras que el trabajo en un equipo
            ágil y reducido me permitió obtener una visión integral del ciclo de
            vida del desarrollo de software. Participé activamente en todas las
            etapas, desde la concepción hasta el despliegue, lo que enriqueció
            mi comprensión del proceso de desarrollo end-to-end. En el ámbito
            DevOps, implementé y optimicé pipelines de CI/CD utilizando GitLab y
            Docker, lo que resultó en una mejora sustancial de la experiencia
            del desarrollador. Además, colaboré en diferentes etapas de
            desarrollo de producto como soporte tecnico,que me permitio estar en
            contacto con clientes y me permitio ver el software de otra
            manera.Al ser fullstack me encontre contribuyendo a reducir
            vulnerabilidades y mejorar la integridad del sistema. Esta
            experiencia integral fue crucial para desarrollar mi capacidad de
            crear software robusto, seguro y escalable, alineado con las mejores
            prácticas de la industria.
        </p>
        <p>
            Mi objetivo profesional es continuar expandiendo mis conocimientos
            tanto en el desarrollo de interfaces de usuario con excelente UX
            como en la creación de backends sólidos y eficientes. Tengo una
            preferencia por el desarrollo backend, pero mi experiencia full
            stack me permite abordar proyectos de manera integral.
        </p>
        <p>
            En mi tiempo libre, me dedico a proyectos personales que me permiten
            explorar nuevas tecnologías y resolver problemas cotidianos. Estos
            incluyen desde aplicaciones web para gestión emocional y financiera
            hasta scripts de automatización y servicios de webscraping. Estoy
            siempre abierto a nuevos desafíos y oportunidades de aprendizaje en
            el campo del desarrollo de software.
        </p>
        <p>
            Además de mis habilidades técnicas, soy bilingüe con un nivel de
            inglés C1, lo que me permite colaborar efectivamente en equipos
            internacionales y acceder a recursos técnicos avanzados. Fuera del
            ámbito profesional, mantengo un equilibrio dedicando tiempo al
            ejercicio físico, la lectura y mi desarrollo personal.
        </p>
    </div>
</section>
<style>
    #biography {
        padding: 2rem 0;
    }
</style>
