---
import JobCard from "../cards/JobCard.astro";

const jobs = [
    {
        title: "Fullstack Developer",
        company: "LOGRA.IO",
        period: "2022 — 2024",
        description:
            "Desarrollé y mantuve aplicaciones web robustas utilizando Django-Python para backend y Next.js-React para frontend. Diseñé e implementé APIs RESTful escalables, facilitando la integración de servicios y mejorando la interoperabilidad de sistemas. Implementé, gestioné pipelines de CI/CD y realice mantenimiento de aplicaciones legacy.",
        skills: [
            "JavaScript",
            "Next.js",
            "React",
            "Gatsby",
            "Python",
            "Django",
            "CI/CD",
            "Docker",
            "AWS",
            "Cloudfare",
        ],
    },
    {
        title: "Ruby Developer Intern",
        company: "Magmalabs (Bootcamp Brightcoders)",
        period: "2021 — 2022",
        description:
            "Participé en el desarrollo de proyectos utilizando Ruby on Rails, aprendiendo y aplicando buenas prácticas de desarrollo de software y metodologías ágiles.",
        skills: [
            "Ruby",
            "Ruby on Rails",
            "Docker",
            "Desarrollo ágil",
            "Colaboración en equipo",
        ],
    },
    {
        title: "Community Manager",
        company: "ESTUDIO SUR",
        period: "2020 — 2021",
        description:
            "Implementé estrategias SEO, aumentando visibilidad web y tráfico orgánico. Gestioné redes sociales, incrementando interacción y seguidores en Instagram y Facebook.",
        skills: [
            "SEO",
            "Gestión de redes sociales",
            "Contenido digital",
            "Estrategia de marketing",
        ],
    },
    {
        title: "Soporte Técnico",
        company: "Freelance",
        period: "2018 — 2020",
        description:
            "Resolví más de 200 problemas de hardware/software con 95% de satisfacción del cliente. Optimicé sistemas en más de 100 equipos, mejorando rendimiento en 30% y reduciendo tiempos de inicio en 40%.",
        skills: [
            "Soporte técnico",
            "Mantenimiento de hardware",
            "Optimización de sistemas",
            "Instalación de sistemas operativos",
        ],
    },
];
---

<section id="experience">
    <div class="section-header">
        <h2>Experiencia</h2>
    </div>
    <div class="job-experience">
        {jobs.map((job) => <JobCard {...job} />)}
    </div>
</section>

<style>
    #experience {
        padding: 2rem 0;
    }
    .section-header {
        margin-bottom: 1.5rem;
    }
    h2 {
        color: #e2e8f0;
        font-size: 1.5rem;
        font-weight: 600;
    }
    .job-experience {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }
</style>
